.Control-Buttons {
  margin: 3rem 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-grp {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 10vw;
  height: 5vh;
  border-radius: 14px;
  margin: 0px 6px;
  display: flex;
  border: 2px solid #c7365f;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
}

.btn-one {
  background-color: #c7365f;
}

.btn-two {
  background-color: #c7365f36;
  opacity: 0.8;
}
