.App {
  background-image: linear-gradient(to top left, #50b9cc 0%, #bf2e94 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
